.container {
    text-align: center;
}

.crystals {
    padding-left: 16%;
    padding-top: 25px;
}

h1 {
    font-family: 'Major Mono Display', monospace;
    font-family: 'Monoton', cursive;
    color: white;
    font-size: 50px;
}

h2 {
    font-family: 'Major Mono Display', monospace;  
    font-weight: bold;
}

.jumbotron{
    background-color:purple;
}

p {
    color: white;
}